<div class="show-artists flex">
  <div class="img-container" style="background-image: url(<%= @artist[:image_url] %>)"></div>
  <div class="text-container">
    <h3><%= @artist[:name] %></h3>
    <p><%= @artist[:city] %></p>
    <p><%= @artist[:genre] %></p>
    <a href="<%= @artist[:links] %>">Listen to <%= @artist[:name] %></a>
    <p><%= @artist[:long_description] %></p>
    <a class="back" href="/welcometonowhere">Back</a>
  </div>
</div>
