<div class="wtn">
  <div class="texture"></div>
  <div class="splash">
    <div>
      <h1>Welcome to Nowhere</h1>
      <p>Aotearoa’s coolest little festival</p>
    </div>
    <div>
      <p class="right">February 5-6 <br /> Waitangi Weekend <br /> 2022</p>
    </div>
    <div class="star"></div>
    <div class="sawmill-bladee"></div>
    <div class="arch">
      <div id="wtn-video"></div>
    </div>
  </div>
  <div class="main">
    <div class="left">
      <a class="small" href="https://events.humanitix.com/welcome-to-nowhere-2022/tickets?w=true&p=%236621c0">
        Buy Tickets and Merch
        <span class="arrow"></span>
      </a>
      <p>Aotearoa’s coolest little festival, located in the rural Manawatu, featuring both leading and up-and-coming
        independent
        artists from around the country. Join us for 2.5 days of music and art, among a welcoming community.</p>
      <div class="img-sm-container">
        <div style="background-image: url(<%= @background_image %>)" class="image" alt="Welcome to Nowhere Poster">
        </div>
      </div>
      <a class="large" href="https://events.humanitix.com/welcome-to-nowhere-2022/tickets?w=true&p=%236621c0">
        Buy Tickets and Merch
        <span class="arrow"></span>
      </a>
    </div>
    <div class="right">
      <div class="image" alt="Welcome to Nowhere Poster">
      </div>
    </div>
  </div>
  <div class="lineup">
    <h3>Lineup</h3>
    <div class="gallery-w2n-container">
      <% @artists.each.with_index do |artist, index| %>
        <a href="/welcometonowhere/artists/<%= index %>">
        <div style="background-image: url(<%= artist[:image_url] %>)"></div>
        <div class="text-container">
          <h4><%= artist[:name] %></h4>
          <p><%= artist[:city] %></p>
          <p><%= artist[:genre] %></p>
        </div>
        </a>
        <% end %>
    </div>
  </div>
  <div class="faqs">
    <h3>FAQs</h3>
    <p class="toggle-accordions">Open/Close all</p>
    <% @faqs.each do |question| %>
      <div class="question">
        <div class="top">
          <p class='date'>
            <%= question['Question'] %>
          </p>
          <p class="large">
            <%= question['Question'] %>
          </p>
        </div>

        <div class="bottom">
          <div class="about">
            <p class="large">
              <%= question['Answer'].present? && question['Answer'].html_safe %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
  </div>
  <div class="gallery">
    <h3>Gallery</h3>
    <div class="gallery-w2n-container">
      <% @gallery.each do |image| %>
        <a href="<%= image[:image_url] %>" title="<%= image[:name] %>"
          data-src="<%= image[:image_url] %>">
        </a>
        <% end %>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      [].forEach.call(document.querySelectorAll('.gallery a[data-src]'), function(div) {
        div.setAttribute("style","background-image: url(" + div.getAttribute('data-src') + ");");
        div.onload = function() {
          div.removeAttribute('data-src');
        };
      });
    })
  </script>
  <script type="text/javascript" src="/javascripts/lib/lightbox.js"></script>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      new SimpleLightbox({ elements: '.gallery .gallery-w2n-container a' });
    })
  </script>
  <script>
    var scriptUrl = 'https:\/\/www.youtube.com\/s\/player\/54d85b95\/www-widgetapi.vflset\/www-widgetapi.js'; try { var ttPolicy = window.trustedTypes.createPolicy("youtube-widget-api", { createScriptURL: function (x) { return x } }); scriptUrl = ttPolicy.createScriptURL(scriptUrl) } catch (e) { } if (!window["YT"]) var YT = { loading: 0, loaded: 0 }; if (!window["YTConfig"]) var YTConfig = { "host": "https://www.youtube.com" };
    if (!YT.loading) {
      YT.loading = 1; (function () {
        var l = []; YT.ready = function (f) { if (YT.loaded) f(); else l.push(f) }; window.onYTReady = function () { YT.loaded = 1; for (var i = 0; i < l.length; i++)try { l[i]() } catch (e$0) { } }; YT.setConfig = function (c) { for (var k in c) if (c.hasOwnProperty(k)) YTConfig[k] = c[k] }; var a = document.createElement("script"); a.type = "text/javascript"; a.id = "www-widgetapi-script"; a.src = scriptUrl; a.async = true; var c = document.currentScript; if (c) { var n = c.nonce || c.getAttribute("nonce"); if (n) a.setAttribute("nonce", n) } var b =
          document.getElementsByTagName("script")[0]; b.parentNode.insertBefore(a, b)
      })()
    };
  </script>
  <script type='text/javascript'>
    var player;
    var videoId = 'ZObnSXiV2_g';
    var startSeconds = 7;  // set your own video start time when loop play
    var endSeconds = 25;   // set your own video end time when loop play
    var playerConfig = {
      height: '120%',
      width: '120%',
      videoId: videoId,
      playerVars: {

        autoplay: 1,            // Auto-play the video on load
        controls: 0,            // Show pause/play buttons in player
        showinfo: 0,            // Hide the video title
        modestbranding: 1,      // Hide the Youtube Logo
        fs: 1,                  // Hide the full screen button
        cc_load_policy: 0,      // Hide closed captions
        iv_load_policy: 3,      // Hide the Video Annotations
        start: startSeconds,
        end: endSeconds,
        autohide: 0, // Hide video controls when playing
      },
      events: {
        'onStateChange': onStateChange,       // reference to Iframe API
        onReady: function (e) {              // mute the video when loaded
          e.target.mute();
          e.target.playVideo();
        }
      }
    };

    //excute the video in div
    function onYouTubePlayerAPIReady() {
      player = new YT.Player('wtn-video', playerConfig);
    }
    //repload the video when onStateChange=YT.PlayerState.ENDED)
    function onStateChange(state) {
      if (state.data === YT.PlayerState.ENDED) {
        player.loadVideoById({
          videoId: videoId,
          startSeconds: startSeconds,
          endSeconds: endSeconds

        });
      }
    }
  </script>
  <script>
    if (document.getElementsByClassName("faqs").length) {
      document.querySelectorAll(".wtn .faqs .top").forEach((element) => {
        element.addEventListener("click", function (e) {
          element.nextElementSibling.classList.toggle("open");
          element.classList.toggle("open");
        });
      });
      document
        .querySelector(".toggle-accordions")
        .addEventListener("click", function (e) {
          e.target.nextElementSibling.classList.toggle("open");
          e.target.classList.toggle("open");

          document
            .querySelectorAll(".faqs .question > div")
            .forEach((element) => {
              element.classList.toggle("open");
            });
        });
    }
  </script>
</div>